body {
	text-align: center;
	width:800px;
	height: auto;
	margin: auto;
}
ul{
	text-align: left;
}
#footer {
	background-color:#A9A9A9;
	text-align:right;
	clear: both;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	border-collapse: collapse;
} 
table {
	align-self: center;
}
h2 {
	background:#808080;
	color: #FFFFFF;
}
h1{
	background:#000000;
	color:#FFFFFF;
}
#navbar ul{
	list-style-type: none;
	text-align: center;
}
#container{
	background:#D3D3D3;
}
#projects{
	width:400px;
	float: left;
}
#profile-link{
	width:400px;
	float: right;
}