body {
	text-align: center;
	width:80%;
	height: auto;
	margin: auto;
	background:#696969;
}
ul{
	text-align: left;
}
#footer {
	background-color:#32CD32;
	text-align:right;
	clear: both;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	border-collapse: collapse;
} 
h2 {
	background:#4169E1;
	color: #FFFFFF;
}
h1{
	background:#8B0000;
	color:#FFFFFF;
}
#navbar ul{
	list-style-type: none;
	text-align: center;
}
#container{
	background:#FFFAFA;
}
#projects{
	width:40%;
	float: left;
}
#profile-link{
	width:40%;
	float: right;
}